/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url(../fonts/CenturyGothic.ttf), url(../fonts/CenturyGothic.woff);
}
/* line 12, ../sass/price.scss */
body .price-page {
  font-family: "CenturyGothic", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 14, ../sass/price.scss */
body .price-page .page-title {
  /*margin-bottom: 40px;*/
}
/* line 17, ../sass/price.scss */
body .price-page .price-block-title {
  color: #1d5376;
  font-weight: 600;
  font-size: 22px;
  margin-top: 30px;
}
/* line 24, ../sass/price.scss */
body .price-page .table .car-value {
  width: 221px;
  font-size: 17px;
  font-weight: 600;
  vertical-align: middle;
  padding-left: 20px;
  box-sizing: border-box;
}
/* line 32, ../sass/price.scss */
body .price-page .table .cost-per-hour {
  width: 172px;
  vertical-align: middle;
  color: #e4a000;
  font-size: 18px;
  font-weight: 600;
  box-sizing: border-box;
  padding-left: 30px;
}
/* line 41, ../sass/price.scss */
body .price-page .table .additional-info {
  width: 212px;
  vertical-align: middle;
  padding-left: 28px;
  padding-right: 22px;
  color: #6e6e6e;
  font-size: 12px;
  font-family: Arial;
  box-sizing: border-box;
}
/* line 52, ../sass/price.scss */
body .price-page .table.material .car-value {
  width: 391px;
}
/* line 55, ../sass/price.scss */
body .price-page .table.material .cost-per-hour {
  width: 122px;
}
/* line 58, ../sass/price.scss */
body .price-page .table.material .additional-info {
  width: 92px;
  padding: 0 0 0 14px;
}
/* line 64, ../sass/price.scss */
body .price-page .btnx {
  display: inline-block;
  background-color: #f7b71f;
  text-decoration: none !important;
}
/* line 68, ../sass/price.scss */
body .price-page .btnx:hover {
  background-color: #e9aa1e;
}
/* line 71, ../sass/price.scss */
body .price-page .btnx span {
  display: block;
  margin: 2px;
  padding: 5px 15px;
  border: 1px solid #555;
  color: #333;
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 81, ../sass/price.scss */
body .price-page .image-block {
  position: relative;
  width: 267px;
  height: 180px;
}
/* line 85, ../sass/price.scss */
body .price-page .image-block.all-cars {
  background: url(../image/all_cars.png) 0 0 no-repeat;
}
/* line 88, ../sass/price.scss */
body .price-page .image-block.calculation {
  background: url(../image/Calc-button-picture.png) 21px 0 no-repeat;
  height: 132px;
}
/* line 92, ../sass/price.scss */
body .price-page .image-block a {
  position: absolute;
  bottom: 5px;
  left: 0;
}

/*Custom style*/
/* line 102, ../sass/price.scss */
.block-offset {
  margin-left: 33px;
  margin-top: 71px;
}

/* Customize container */
@media (min-width: 960px) {
  /* line 109, ../sass/price.scss */
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  /* line 114, ../sass/price.scss */
  .block-offset {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  /* line 119, ../sass/price.scss */
  .block-offset {
    margin-top: 0;
  }
}
